{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Entry
{% endblock %}

{% block body %}

    <div>
        <h1>Edit {{ title }} </h1>

        <form action="{% url 'edit' title=title %}" method="post">
            {% csrf_token %}
            <label for="edited_text">Edit text:</label>
            <br>
            <textarea class="entry_textarea" name="edited_text" required>{{ editable_text }}</textarea>
            <br>
            <input type="submit" value="Submit">
            <a class="link_button" href="{% url 'entry' title=title %}">Cancel</a>
          </form>
    </div>

{% endblock %}