body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 90vh;
    width: 80%;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}

.link_button {
    border: 1px solid lightslategray;
    padding: 4px 8px;
    text-decoration: none;
    background-color: buttonface;
    color: #423e3e;
    cursor: pointer;
}

.link_button:hover {
    background-color: #dddddd;
    text-decoration: none;
    color: #423e3e;
}

.entry_textarea {
    height: 15em;
    width: 40em;
}